[submodule "ros2.wiki"]
	path = ros2.wiki
	url = https://github.com/ros2-for-arm/ros2.wiki.git
[submodule "scripts/build_ros2.bash"]
	path = scripts/build_ros2.bash
	url = git@gist.github.com:b1045dc5c08dd009f872ab054d4406ae.git
